<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AengeFrameworkH.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><applicationSettings>
        <AengeFrameworkH.My.MySettings>
            <setting name="Application" serializeAs="String">
                <value>Autohidro</value>
            </setting>
            <setting name="Cab_File" serializeAs="String">
                <value>CAB_APPLICATION</value>
            </setting>
            <setting name="File_Autoenge" serializeAs="String">
                <value>Autoenge.cfg</value>
            </setting>
            <setting name="Folder_Dwg" serializeAs="String">
                <value>DWG\</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>9.1</value>
            </setting>
            <setting name="Bar_Lisp" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="Index_IconDwg" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Index_IconFolder" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Text_PaletteProject" serializeAs="String">
                <value> - Projetos</value>
            </setting>
            <setting name="Text_PaletteQdc" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderApwr" serializeAs="String">
                <value>APWR\</value>
            </setting>
            <setting name="FolderAhid" serializeAs="String">
                <value>AHID\</value>
            </setting>
            <setting name="File_ProjectCfg" serializeAs="String">
                <value>PROJETO.cfg</value>
            </setting>
            <setting name="FolderCom" serializeAs="String">
                <value>COM\</value>
            </setting>
            <setting name="FolderApp_Name" serializeAs="String">
                <value>AHID</value>
            </setting>
            <setting name="Help_FileName" serializeAs="String">
                <value>Ahid.chm</value>
            </setting>
            <setting name="Calc_Area_Eletroduto_Minima" serializeAs="String">
                <value>44.9</value>
            </setting>
            <setting name="CircAuto_IniCondutor" serializeAs="String">
                <value>0600</value>
            </setting>
            <setting name="CircAuto_EndCondutor" serializeAs="String">
                <value>0699</value>
            </setting>
            <setting name="CircAuto_DefaultCondutor" serializeAs="String">
                <value>000600</value>
            </setting>
            <setting name="CharEndFile" serializeAs="String">
                <value>[</value>
            </setting>
            <setting name="Application_AutoCad" serializeAs="String">
                <value>AutoCAD.Application.24.0</value>
            </setting>
            <setting name="AcadTemplate" serializeAs="String">
                <value>acad.dwt</value>
            </setting>
            <setting name="AhidName" serializeAs="String">
                <value>Autohidro</value>
            </setting>
            <setting name="AhidRelease" serializeAs="String">
                <value>9.1</value>
            </setting>
            <setting name="frmLoading_Default" serializeAs="String">
                <value>Informações gerais</value>
            </setting>
            <setting name="frmLoading_DefaultNull" serializeAs="String">
                <value>Processando dados. Aguarde por favor até o sistema terminar a execução dos dados...</value>
            </setting>
            <setting name="frmLoading_Timer" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Extension_Img" serializeAs="String">
                <value>.bmp</value>
            </setting>
            <setting name="ExtensionCompl_Img" serializeAs="String">
                <value>_sample</value>
            </setting>
            <setting name="PreviewWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PreviewHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="frmExisteDesenho_MsgNoPreview" serializeAs="String">
                <value>A visualização do projeto ainda não foi criada. Aguarde a próxima abertura!</value>
            </setting>
            <setting name="Aplication_AutoCadName" serializeAs="String">
                <value>AutoCad</value>
            </setting>
            <setting name="FontDefault" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="FontDefaultSize" serializeAs="String">
                <value>8.25</value>
            </setting>
            <setting name="CodeApplication" serializeAs="String">
                <value>1205_2015</value>
            </setting>
            <setting name="NoImage_Preview" serializeAs="String">
                <value>NoImage_sample.bmp</value>
            </setting>
            <setting name="frmLoading_TimerDimens" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="frmCircuitoInfo_LSInterrup" serializeAs="String">
                <value>Interruptor sem nenhum luminária relacionada</value>
            </setting>
            <setting name="frmCircuitoInfo_LSLumin" serializeAs="String">
                <value>Luminária sem interruptor</value>
            </setting>
            <setting name="ClassExclude_EditAtt_Ang" serializeAs="String">
                <value>|0201|</value>
            </setting>
            <setting name="Text_PaletteAgenda" serializeAs="String">
                <value> - Lembretes</value>
            </setting>
            <setting name="OfficePack2010_64" serializeAs="String">
                <value>MDED_2010.exe</value>
            </setting>
            <setting name="NameProcess" serializeAs="String">
                <value>AHIDVBA</value>
            </setting>
            <setting name="WinVersion" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="CodObj_LastSymbolDefault" serializeAs="String">
                <value>4062</value>
            </setting>
            <setting name="ReportViewer" serializeAs="String">
                <value>ReportViewer.exe</value>
            </setting>
            <setting name="SetSecureLoad" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="VarSys_CLAYER" serializeAs="String">
                <value>CLAYER</value>
            </setting>
            <setting name="FileIniApp" serializeAs="String">
                <value>IniApp.ini</value>
            </setting>
        </AengeFrameworkH.My.MySettings>
    </applicationSettings>
</configuration>
